body {
  background-color: #dcdcdc;
}
.title {
  display: flex;
  justify-content: center;
  padding: 5px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
}
.main-content {
  display: flex;
  justify-content: center;
}

.subway-lines {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}

.train-line {
  border-radius: 50px;
  border: none;
  width: 90px;
  height: 90px;
  font-size: 55px;
  font-weight: bolder;
  color: white;
  margin: 5px;
}

.red {
  background-color: #ee352e;
}

.dark-green {
  background-color: #00933c;
}

.purple {
  background-color: #b933ad;
}

.blue {
  background-color: #0039a6;
}

.yellow {
  background-color: #fccc0a;
  color: black;
}

.orange {
  background-color: #ff6319;
}

.gray {
  background-color: #a7a9ac;
}

.light-green {
  background-color: #6cbe45;
}

.brown {
  background-color: #996633;
}

.note {
  display: flex;
  justify-content: center;
}
