body {
  background-color: #dcdcdc;
}

.times {
  background-color: white;
  padding: 15px;
  border-radius: 20px;
}

.main-content {
  display: flex;
  justify-content: center;
}

.train-line {
  border-radius: 50px;
  border: none;
  width: 90px;
  height: 90px;
  font-size: 55px;
  font-weight: bolder;
  color: white;
  margin: 5px;
}

.stations {
  border-style: double;
  width: 70vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  margin-top: 15px;
}

/* station button styles */
.stations button {
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  width: 100%;
  padding: 20px;
}

.line-logo {
  display: flex;
  justify-content: space-between;
}

.back-button {
  border-radius: 50px;
  border: none;
  width: 90px;
  height: 90px;
  font-size: 25px;
  margin: 5px;
}
